<div class="form">

  <%= form_for @job do |f| %>
    <%= f.error_messages %>


    <div class="field">
      <%= f.label :title, t("job.title") %>
      <%= f.text_field :title, :class =>"text" %>
    </div>

    <div class="field">
      <%= f.label :company_name, t("job.company_name") %>
      <%= f.text_field :company_name, :class =>"text" %>
    </div>

    <div class="field">
      <%= f.label :url, t("URL") %>
      <%= f.text_field :url, :class =>"text" %>
    </div>

    <div class="field reset">
      <%= f.label :job_type, t("job.type") %>
      <%= f.select :job_type, Job::JOB_TYPE.collect{ |t| [t,t]}, :prompt => 'Select one' %>
    </div>
    
    <div class="field reset">
      <%= f.label :occupation, t("job.occupation") %>
      <%= f.select :occupation, Job::OCCUPATION.collect{|o| [o,o]},:prompt => 'Select one' %>
    </div>
    
    <div class="field">
      <%= f.label :location, t("job.location") %>
      <%= f.text_field :location, :class =>"text" %>
    </div>

    <div class="field">
      <%= f.label :description, t("job.description") %>
      <%= f.text_area :description, :class =>"text" %>
    </div>

    <div class="field">
      <%= f.label :apply_information, t("job.apply_information") %>
      <%= f.text_area :apply_information, :class =>"text" %>
    </div>

    <div class="field reset">
      <%= f.label :deadline, t("job.deadline") %>
      
      <% if I18n.locale.to_s == "en" %>
        <%= f.date_select :deadline %>
      <% else %>
        <%= f.check_box :deadline_forever %> <%= t("job.deadline_forever") %>
      <% end %>

    </div>

    <div class="field actions">
      
      <%= f.submit t(:submit), :class => "submit button", :disable_with => t(:submiting) %>
    </div>


  <% end %>

</div>
