<p class="post-job clearfix">
  <%= link_to "Post_a_new_job", new_job_path %>
</p>
  <table class="joblist" id="joblist_table">
    <thead>
      <tr>
        <th><%= t("job.posted") %></th>
        <th><%= t("job.title") %></th>
        <th><%= t("job.company_name") %></th>
        <th><%= t("job.location") %></th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => 'joblist' %>
    </tbody>
  </table>

<span class="paperclip"></span>
<%= paginate @jobs %>


