<header>
	<div class="navbar">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">						
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
		    		</a>

					<a class="brand" href="/">Jobs Engine</a>
					
					<ul class="nav pull-right">
						<% if user_signed_in? %>
							<li><%= link_to "Hi #{current_user.display_name}", edit_user_registration_path()%></li>
							<li><%= link_to t(:list_my_posting), jobs_path(:user_id => current_user) %></li>
							<li><%= link_to "Setting", edit_user_registration_path() %></li>
							<li><%= link_to t(:signout), destroy_user_session_path(), :method => :delete %></li>
						<% else %>
							<li><%= link_to t(:signup), new_user_registration_path() %></li>
							<li><%= link_to t(:signin), new_user_session_path() %></li>
						<% end %>
						
					</ul>
					
					<div class"nav pull-right">
						<form class="navbar-search pull-right">
				    		<%= text_field_tag :search, nil, :class => "search-query", :placeholder => "Search..." %>
				    		<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px" class="search_button">
				    	</form>		
					</div>
				</div>
			</div>
		</div>
	</div>
</header><!-- /header -->