<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Jobs Engine" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>

    <!-- navigation -->
    <%= render :partial => 'shared/navigation' %>

    <!-- main container -->
    <div id="container">
       <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div><!-- /container -->

    <div id="footer">
        <!-- 
        <ul class="menu clearfix">
            <li><%= link_to t(:faq), root_path %></li>
            <li><%= link_to t(:rss_feed), "http://feeds.feedburner.com/rubyjobs-taiwan" %></li>
            <li class="twitter"><%= link_to t(:twitter), "http://twitter.com/rubytaiwan" %></li>
        </ul>
         -->
        <p class="language">Choose your language: 
      
      <%= link_to "English", :controller => controller.controller_name, 
                   :action => controller.action_name, :locale => "en" %> |
      <%= link_to "繁體中文", :controller => controller.controller_name, 
                   :action => controller.action_name, :locale => "zh_tw" %>
      </p>
    </div>
   <!--  <footer>
     <%= debug(params) if Rails.env.development? %>
    </footer> -->
  <%= javascript_include_tag "application" %>
  </body>
</html>
